
{{> head}}



{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Node Js - Acerca de</h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam numquam natus eius nesciunt porro a, illo consequatur rerum itaque quibusdam possimus cupiditate at explicabo laudantium eos nisi. Voluptatibus, praesentium libero!
        </p>
    </div>

    <div class="col-4">
        <img src="/assets/img/nodejs.png" class="img-thumbnail">
    </div>

</div>
{{> footer}}